{% extends 'base/base.html' %}


{% block content %}

<div class="container mt-4">
    <h1 class="text-center mb-4">API Documentation</h1>

    <div class="list-group">
        <a href="/admin" class="list-group-item list-group-item-action">Admin</a>
        <a href="/auth" class="list-group-item list-group-item-action">Authentication</a>
        <a href="/api/main" class="list-group-item list-group-item-action">API Main</a>
        <a href="/api/management" class="list-group-item list-group-item-action">API Management</a>
        <a href="/api/iot" class="list-group-item list-group-item-action">API IoT</a>
        <a href="/notifications" class="list-group-item list-group-item-action">Notifications</a>
    </div>

</div>

{% endblock %}