celery
channels
channels-redis
cloudinary
dj-database-url
django
django-celery-beat
django-celery-results
django-ckeditor
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-redis
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-nested-routers
drf-spectacular
flower
paho-mqtt
pillow
psycopg2-binary
python-dotenv
redis
whitenoise
