<!-- HTML Meta Tags -->
<meta name="description"
    content="ZenithReserve is a robust Hotel Management System developed using Django Rest Framework. It provides a comprehensive solution for managing hotel properties, reservations, billing, and more.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Zenith System">
<meta itemprop="description"
    content="ZenithReserve is a robust Hotel Management System developed using Django Rest Framework. It provides a comprehensive solution for managing hotel properties, reservations, billing, and more.">
<meta itemprop="image" content="http://sorsauth.sirv.com/Zenith/meta-zenith.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="">
<meta property="og:type" content="website">
<meta property="og:title" content="Zenith System">
<meta property="og:description"
    content="ZenithReserve is a robust Hotel Management System developed using Django Rest Framework. It provides a comprehensive solution for managing hotel properties, reservations, billing, and more.">
<meta property="og:image" content="http://sorsauth.sirv.com/Zenith/meta-zenith.png">

<!-- Twitter Meta Tags -->
<meta property="twitter:description"
    content="ZenithReserve is a robust Hotel Management System developed using Django Rest Framework. It provides a comprehensive solution for managing hotel properties, reservations, billing, and more.">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Zenith System">
<meta name="twitter:description"
    content="ZenithReserve is a robust Hotel Management System developed using Django Rest Framework. It provides a comprehensive solution for managing hotel properties, reservations, billing, and more.">
<meta name="twitter:image" content="http://sorsauth.sirv.com/Zenith/meta-zenith.png">


<meta property="description"
    content="ZenithReserve is a robust Hotel Management System developed using Django Rest Framework. It provides a comprehensive solution for managing hotel properties, reservations, billing, and more." />

<meta property="og:description"
    content="ZenithReserve is a robust Hotel Management System developed using Django Rest Framework. It provides a comprehensive solution for managing hotel properties, reservations, billing, and more." />

<meta property="og:url" content="http://sorsauth.sirv.com/Zenith/meta-zenith.png">