{% extends 'base/base.html' %}


{% block content %}

<h1>{{ title }} Page</h1>
<h1>Device ID: {{device_id}} </h1>

<script>
    // WebSocket connection example using JavaScript
    const socket = new WebSocket(`ws://127.0.0.1:8000/ws/device/{{device_id}}/`);

    socket.onopen = (event) => {
        console.log("WebSocket connection opened! for IoT");
    };

    socket.onmessage = (event) => {
        const data = JSON.parse(event.data);
        // Handle incoming notifications (update UI, show notifications, etc.)
        console.log("Received IoT notification:", data.message);
    };

    socket.onclose = (event) => {
        console.log("WebSocket connection closed for IoT:");
    };

    // Send a message to the server (if needed)
    socket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        console.log(data.message)
        alert(data.message);
    };
</script>

{% endblock %}