{% extends 'base/base.html' %}

{% block content %}

<h1>{{ title }} Page</h1>
<h3>Device ID: {{ device_id }}, Topic: {{ topic }} </h3>

<div class="alert alert-info" role="alert" id="mqttMessage"></div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const socket = new WebSocket(`ws://127.0.0.1:8000/ws/device/{{ device_id }}/`);
        const messageContainer = document.getElementById('mqttMessage');

        socket.onopen = (event) => {
            console.log("WebSocket connection opened! for IoT", event);
        };

        socket.onclose = (event) => {
            console.log("WebSocket connection closed for IoT:", event);
        };

        socket.onmessage = function (event) {
            const data = JSON.parse(event.data);
            messageContainer.innerHTML = `Received IoT notification: ${data.message}`;
            console.log(data.message);
        };
    });

</script>

{% endblock %}