{% extends "admin/base_site.html" %}

{% block content %}
<style>
    .custom-btn {
        background-color: #44c767;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        padding: 2px 2px;
        text-decoration: none;
    }

    .custom-btn:hover {
        background-color: #5cbf2a;
    }

    .custom-btn:active {
        position: relative;
        top: 1px;
    }
</style>
<h2>Send Notification</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        <textarea class="form-control" rows="5" style="width: 50%;" name="{{ field.html_name }}"
            id="{{ field.auto_id }}">{{ field.value }}</textarea>
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="custom-btn">Send Notification</button>
</form>
{% endblock %}